.full-image {
    .back {
        overflow: hidden;
        position: absolute;
        top: 15px;
        left: 15px;
        z-index: 2;
        border-radius: 50%;
        transform: rotate(180deg);
    }
}